*{margin: 0;padding: 0;border:none; outline:none;list-style-type:none;}
body{margin: 0 auto;}
#geral{width: 100%;}
#telefone{margin: 15px;float: right;}
/*Menu*/
.menu{background: #096735;width: 100%;height: 66px;margin: 10px auto;float: left;}
.menu ul{list-style: none;text-align: center;}
.menu li{float: left;text-align: center;margin-left: 10px;}
.menu li a{width: 180px;height: 30px;display: block;padding: 10px 0;font-size: 20px;text-decoration: none;margin: 10px 10px 0 0;color: #ccc;
text-shadow: black 0px 2px, black 2px 0px, black -2px 0px, 
black 0px -2px, black -1.4px -1.4px, black 1.4px 1.4px, 
black 1.4px -1.4px, black -1.4px 1.4px;}
.menu li:nth-child(3){margin-right: 120px;}
.menu li:nth-child(6) a{margin-right: 0;}
.menu li:nth-child(1n+4) a{text-align: right;}
.menu li:nth-child(1){margin-left: 45px;}
.logo img{width: 180px;height: 100px;background-size: 100px 64px;position: absolute;margin-top: 26px;}
.site{text-align: center;}
/*Slide*/
.example-desc {margin:3px 0;padding:5px;}
#carousel {width: 80vw;height:450px;position:absolute;clear:both;overflow:hidden;background:#FFF;}/*width 930*/
#carousel img {width: 400px;height: 400px;visibility:hidden;cursor:pointer;}
#callback-output {height:250px;overflow:scroll;}
textarea#newoptions {width:430px;}
#prev img,#next img{width: 5vw;height: 80px;margin: 0 3px 0 3px;} /*110*/
.example-desc {margin:3px 0;padding:5px;}
/* Produtos pagina incial*/
section{width: 100%;height: 100%;margin-top: 10px;}
#imagem-principal{width: 765px;height: 800px;overflow: hidden;}
#titulo-produtos{text-align: center;font-size: 50px;text-decoration: underline;}
#subtitulo-produtos{text-align: center;font-size: 30px;}
#img{width: 10vw;height: 100px;}
#img2{width: 10vw;height: 100px;}
#img3{width: 163px;height: 100px;margin-left: 10px;}
button{border: 0;background: white;}
#imagem-principal{width: 55vw}
#imagem-principal-cabos {width: 100%;height: 400px;}
#botoes-direita{width: 100%;float: left;}
#botoes-esquerda{width: 322px;}
/*Footer*/
#footer{width: 100%;height: 100%;background: #096735;margin-top: 10px; float: left;}
#contato{width: 50%;height: 260px;text-align: center;color: white;font-size: 25px;float: left;}/*margin-left: 150px;*/
#endereco{width: 50%;height: 260px;text-align: center;color: white;font-size: 25px;float: left;}/*width350 margin-left: 300px;*/
#autoria{width: 100%;height: 20px;background: grey;float: left;}
#autoria b{float: right;}
#autoria a{float: right;}
/*Sub-menu Produtos*/
.sub-menu ul{list-style: none;text-align: center;}
.sub-menu li{float: left;text-align: center;margin-left: 10px;}
.sub-menu li a{width: 160px;height: 30px;display: block;padding: 10px 0;font-size: 20px;text-decoration: none;margin: 10px 10px 0 0;color: black;}

